* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100px !important;
  width: 100px;
}

.searchbar {
  height: 40px !important;
}

.dateInput {
  width: 120px;
}
